:root {
  --header: 40px;
  --text_body: 1rem;
}

html {
  background: linear-gradient(to top, rgba(44, 62, 80, 1) 0%, rgba(35, 38, 42, 1) 50%);
  height: 100%;
  padding: 0.5rem;
  overflow: hidden;
}

h1 {
  font-size: var(--header);
  margin: 0;
  padding: 1rem 0;
  color: #ecd835;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
}

h1 i {
  color: #ecd835;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}

p {
  font-size: var(--text_body);
  color: #e0e0e0;
  line-height: 1.5;
  text-align: justify;
  margin: 0;
}

p .JavaScript {
  display: inline-block;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  color: #000;
  background-color: #ecd835;
  padding: 2.5px 5px;
  border-radius: 4px;
  box-shadow: 1px 1px 2.5px rgba(0, 0, 0, 0.25);
  transition: color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

p .JavaScript:hover {
  color: #ecd835;
  background-color: transparent;
  box-shadow: -3px -3px 0 #ecd835, 3px 3px 0 #ecd835;
}

p .node {
  padding: 1px 5px;
  box-shadow: 2px 2px 0 #66f800, -2px -2px 0 #66f800;
  transition: box-shadow 0.3s ease;
}

p .node:hover {
  box-shadow: 4px 4px 0 #66f800, -4px -4px 0 #66f800;
}

p .apnd {
  padding: 1px 5px;
  box-shadow: 2px 2px 0 #ff372b, -2px -2px 0 #ff372b;
  transition: box-shadow 0.3s ease;
}

p .apnd:hover {
  box-shadow: 4px 4px 0 #ff372b, -4px -4px 0 #ff372b;
}

p .js {
  position: relative;
  display: inline-flex;
  font-style: italic;
}

p .js::after{
  content: "";
  position: absolute;
  bottom: 2.5px;
  width: 100%;
  height: 1px;
  background-color: #ecd835;
}

ul {
  padding: 0 0 1rem 0;
  list-style: none;
}

ul li a {
  display: inline-flex;
  color: #ecd835;
  text-decoration: none;
  position: relative;
  padding-left: 1rem;
  transition: transform 0.6s ease;
}

ul li a::before {
  content: "•";
  position: absolute;
  left: 0;
  top: -4px;
  color: #ecd835;
  font-size: 1.5rem;
}

ul li a:hover {
  transform: translateX(8px);
}

ul li a:active {
  transform: scale(0.95) translateX(4px);
  transition-duration: 0.3s;
}

.info {
  position: fixed;
  bottom: 10px;
  left: 0;
  text-align: start;
  padding: 1rem;
}

.info a {
  color: #2196f3;
  display: inline-flex;
  position: relative;
  text-decoration: none;
  transition: transform 0.3s ease, color 0.3s ease, text-shadow 0.3s ease;
}

.info a::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 50%;
  width: 0;
  height: 1px;
  background-color: #2196f3;
  border-radius: 5px;
  transition: width 0.3s ease, left 0.3s ease;
}

.info a:hover::after {
  width: 100%;
  left: 0;
}

.info a:active {
  transform: scale(0.95);
}

/* ========== MÓDULOS ========== */
.backwards a {
  display: inline-flex;
  color: #ecd835;
  padding: 1rem 0;
  line-height: 1;
  text-decoration: none;
  position: relative;
  transform: translateX(-14px);
  transition: transform 0.3s ease;
}

.backwards a:hover {
  transform: translateX(0px);
}

.backwards a:active {
  transform: scale(0.95);
}

.backwards a i {
  transform: translateX(4px);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.backwards a:hover i {
  opacity: 1;
  transform: translateX(-2px);
}

.module_img {
  display: flex;
  justify-content: center;
  width: 100%;
}

.module_img img {
  width: 100%;
  padding: 1rem;
  max-width: 700px;
}
