<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tabler-icons/3.34.1/tabler-icons.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hamburgers/1.2.1/hamburgers.min.css">
    <link rel="stylesheet" href="/css/dom_exercises.css">
    <link rel="icon" href="/assets/image/JavaScript-fill.ico" type="image/x-icon" />
    <title>DOM Excercises</title>
</head>
<body>
    <header class="header">
        <h1>Ejercicios del DOM</h1>
    </header>

    <button class="panel-btn hamburger hamburger--collapse" type="button">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>

    <aside class="panel">
        <nav class="menu">
            <a href="#section1">Reloj Digital & Alarma Sonora</a>
            <a href="#section2">Sección 2</a>
            <a href="#section3">Sección 3</a>
            <a href="#section4">Sección 4</a>
            <a href="#section5">Sección 5</a>
            <a href="../index.html">Inicio</a>
        </nav>
    </aside>

    <main>
        <section id="section1" class="section">
            <h2>Reloj Digital & Alarma Sonora</h2>
            <div class="clock_sound">
                <div id="reloj" class="reloj"></div>
                <audio src="/assets/sound/Alarm Radar.mp3" id="sound" class="sound" controls></audio>
            </div>
            <div>
                <button id="activar-reloj">Iniciar Reloj</button>
                <button id="desactivar-reloj">Detener Reloj</button>
                <button id="activar-alarma">Iniciar Alarma</button>
                <button id="desactivar-alarma">Detener Alarma</button>
            </div>
        </section>
        <section id="section2" class="section">
            <h2>Sección 2</h2>
        </section>
        <section id="section3" class="section">
            <h2>Sección 3</h2>
        </section>
        <section id="section4" class="section">
            <h2>Sección 4</h2>
        </section>
        <section id="section5" class="section">
            <h2>Sección 5</h2>
        </section>
    </main>

    <div class="top">
        <a href="#top">
            <i class="ti ti-chevron-up"></i>
        </a>
    </div>

    <script src="/js/11.- DOM Excercises/script.js" type="module"></script>
</body>
</html>