<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css" />
    <link rel="icon" href="/image/JavaScript-fill.ico" type="image/x-icon" />
    <title>Módulos en JavaScript</title>
  </head>
  <body>
    <h1>Módulos en JavaScript</h1>

    <p>Permite la importación y exportación de fragmentos de datos entre diferentes ficheros JavaScript.</p>

    <div class="module_img">
      <img src="/image/function-classes-files.png" alt="" />
    </div>

    <div class="backwards">
      <a href="/inicio.html"><i class="ph ph-arrow-fat-left"></i>Volver...</a>
    </div>

    <script src="/js/4.- Objetos y Funciones/8.- modules.js" type="module"></script>
  </body>
</html>
