<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css" />
    <link rel="icon" href="/image/JavaScript-fill.ico" type="image/x-icon" />
    <title>Módulos | JavaScript</title>
  </head>
  <body>
    <h1>Módulos <i class="bi bi-javascript"></i></h1>

    <h2>¿Qué es un módulo en JavaScript?</h2>
    <p>Es un archivo que contiene código reutilizable y encapsulado.</p>
    <p>Permite la importación y exportación de fragmentos de datos entre diferentes ficheros JavaScript.</p>

    <div class="module_img">
      <img src="/assets/image/function-classes-files.png" alt="" />
    </div>

    <div class="backwards">
      <a href="/index.html"><i class="ph ph-arrow-fat-left"></i>Volver...</a>
    </div>

    
    <!-- Tenemos que ponerle "type="module"" para que lo detecte como múdolo -->
    <script src="/js/4.- Objetos y Funciones/8.- modules/modules.js" type="module"></script>

    <!-- "nomodule" -> no lo carga hasta que el navegador no lo soporte y que tu navegador moderno no cargue dos veces el módulo -->
    <script src="/js/4.- Objetos y Funciones/8.- modules/no-modules.js" nomodule></script>
  </body>
</html>
