<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css">
    <link rel="icon" href="/image/JavaScript-fill.ico" type="image/x-icon" />
    <title>Nuevos Tipos & Características | JavaScript</title>
</head>
<body>
    <h1>Nuevos tipos de datos y características <i class="bi bi-javascript"></i></h1>

    <h2>Tipos de datos: </h2>
    
    <h3>Symbol()</h3>
    <p>Nos permite crear identifiadores <strong>únicos</strong>. Su valor se mantiene privado y para uso interno.</p>

    <h3>Set()</h3>
    <p>Es una estructura similar a un <i>Array</i>, pero de datos <strong>únicos</strong>.</p>

    <div class="backwards">
      <a href="/index.html"><i class="ph ph-arrow-fat-left"></i>Volver...</a>
    </div>

    <script src="/js/7.- Nuevos Tipos y Características/8.- computed_property.js"></script>
</body>
</html>