<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css">
    <link rel="icon" href="/image/JavaScript-fill.ico" type="image/x-icon" />
    <title>This | JavaScript</title>
</head>
<body>
    <h1>This <i class="bi bi-javascript"></i></h1>

    <h2>¿Qué es '<i>this</i>' en JavaScript?</h2>
    
    <p>El valor de <i>'this'</i> está determinado por cómo se invoca a la función. El objeto contexto de JavaScript en el cual se está ejecutando el código actual..</p>
    <br>
    <h3>Contexto de la función</h3>
    <p>Dentro de una función, el valor de 'this' depende de cómo la función es llamada.</p>

    <div class="backwards">
      <a href="/index.html"><i class="ph ph-arrow-fat-left"></i>Volver...</a>
    </div>

    <script src="/js/8.- This/2.- call-apply-bind.js"></script>
</body>
</html>